/*-- scss:defaults --*/

// Kawagawa theme
$background-color:          #181616;
$lighter-background-color:  #282727;
$text-color:                #c5c9c5;
$function-color:            #8aa4b0;
$identfier-color:           #e6c284;
$type-color:                #8ea4a2;
$number-color:              #a292a3;
$statement-color:           #8892a7;
$bracket-color:             #9f9b93;
$string-color:              #98bb6c;
$builin-variables:          #c4746e;
$comment-color:             #605c58;

$body-bg : $background-color;
$body-color: $text-color;

$navbar-bg: $lighter-background-color;

// $code-block-bg: $lighter-background-color;
// $code-bg: $lighter-background-color;


/*-- scss:rules --*/

h1, h2, h3, h4 {
  color: $identfier-color;
}

code {
  color: $identfier-color;
}

p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode){
  background-color: $background-color;
  border: 2px solid $lighter-background-color; 
}

div.sourceCode{
  background-color: $background-color;
  border: 2px solid $lighter-background-color; 
}

input[type=button] {
  color: $text-color;
  text-decoration:none;
  border:none;
  border-bottom: $text-color 1px solid;
}
