/*-- scss:defaults --*/

// One Dark theme
$background-color:          #1e222a;
$darker-background-color:   #1b1f27;
$text-color:                #c5c9c5;
$function-color:            #8aa4b0;
$identfier-color:           #ebcb8b;
$type-color:                #8ea4a2;
$number-color:              #a292a3;
$statement-color:           #8892a7;
$bracket-color:             #9f9b93;
$string-color:              #98bb6c;
$builin-variables:          #c4746e;
$comment-color:             #42464e;

$body-bg : $background-color;
$body-color: $text-color;

$navbar-bg: $darker-background-color;

// $code-block-bg: $darker-background-color;
// $code-bg: $darker-background-color;


/*-- scss:rules --*/

h1, h2, h3, h4 {
  color: $identfier-color;
}

.quarto-title-banner h1, .quarto-title-banner .h1, .quarto-title-banner h2, .quarto-title-banner .h2 {
  color: $identfier-color;
}

code {
  color: $identfier-color;
}

p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode){
  background-color: $background-color;
  border: 2px solid $comment-color; 
}

div.sourceCode{
  background-color: $background-color;
  border: 2px solid $comment-color;
}

.anchored > code {
  background-color: $background-color;
  border: 2px solid $comment-color;
}

pre > code {
  color: #abb2bf;
}

input[type=button] {
  color: $text-color;
  text-decoration:none;
  border:none;
  border-bottom: $text-color 1px solid;
}

.img-fluid {
  border-radius: 8px;
}

.center {
  justify-content: center;
  align-items: center;
}

@media (min-width: 960px) {
  .mahjong-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    margin-bottom: 20px;
  }
}

.mahjong-grid {
  display: flex;
  flex-direction: column;
}

.mahjong-img {
  max-width: 300px;
}

.mahjong-grid > img {
  max-width: 300px;
}
